.buttonCartContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.totalSum {
    font-size: 25px;
}
.btn-emptyCart {
    display: flex;
    justify-content: center;
    background-color: #585858;
    transition: background-color .5s;
    width: 90px;
    color: white;
    border: none;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn-emptyCart:hover {
    background-color: #cd4141;
    color: white;
}

.btn-checkOut {
    display: flex;
    justify-content: center;
    background-color: #cd418e;
    transition: background-color .5s;
    width: 90px;
    color: white;
    border: none;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn-checkOut:hover {
    background-color: #41cd80;
    color: white;
}

.cartTitle {
    color: #cd418e;
    text-align: center;
}

.btnEndPurchaseContainer {
    display: flex;
    justify-content: center;
}

