.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgProduct {
    width: 500px;
    height: auto;
}

.itemContainerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px;
    width: 300px;
}

.itemContainerDetails h3 {
    color: #cd9341;
}

.btn-toCart {
    width: 100px;
    background-color: #cd418e;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px;
    font-size: 19px;
    cursor: pointer;
}

.btn-toCart:hover {
    background-color: #585858;
    color: white;
}
