.cartDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.btn-deleteItem {
    background-color: #cd4141;
    transition: background-color .5s;
    width: 50px;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px;
    font-size: 19px;
    cursor: pointer;
}

.btn-deleteItem:hover {
    background-color: #cd9341;
    color: white;
}
